{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <form action="" method="POST" class="upload_form" enctype="multipart/form-data">
        {% if messages %}
        {% for message in messages %}

        <div class="message_container" role='alert'>
          <p>{{message}}</p>
        </div>
        {% endfor %}
      {% endif %}
        <!-- <img class="logo" src="{% static 'core/images/logo.svg' %}" alt=""> -->

        {% csrf_token %}
        {{form}}
        <button type="submit" class="submit_button">Confirm</button>
    </form>

  {% endblock content %}